
# Ignore tout par défaut
*

# Mais NE PAS ignorer les fichiers essentiels :
!main.cpp
!README.md
!.gitignore

# Ne PAS ignorer la structure des workflows GitHub
!.github/
!.github/workflows/
!.github/workflows/cpp-tests.yml

# Ignore fichiers inutiles
*.exe
*.o
*.out
*.log
*.tmp

# Ignore fichiers des IDE
.idea/
.vscode/
cmake-build-*/

# Ignore fichiers système
.DS_Store
Thumbs.db
